/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a:visited,
a:hover {
  color: white;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*-----------COLORS--------------*/
/*--------FONT PROPERTIES -------*/
/*------ Kaushan+Script for Design |Raleway for paragraphs |Rambla:400,700 for headers----*/
/*-------------GUTTER AND SIZE PROPERTIES -------------*/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------GLOBAL---------------------------------------*/
#wrapper {
  background: #373276;
  border-top: 4px solid black; }

li {
  color: #595494;
  list-style-type: none; }

a:visited,
a:hover {
  color: white;
  text-decoration: none;
  outline: none; }

button:visited,
button:hover,
button:active,
button:link,
button:focus {
  outline: none;
  text-decoration: none; }

/*------------- HEADER ----------------------------*/
#header {
  padding-bottom: 0; }

#brand-name {
  font-family: "Kaushan Script", cursive;
  font-weight: 700; }

/*------------- NAVIGATION --------------------*/
.nav-links li {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 1.2em; }
  .nav-links li a:visited,
  .nav-links li a:hover {
    color: white;
    text-decoration: none; }

.navbar-toggler:visited,
.navbar-toggler:hover,
.navbar-toggler {
  color: white;
  background: #373276;
  position: relative;
  width: 50px;
  margin: 0 auto;
  display: block;
  border: none; }

/*===== MAIN STARTS HERE ==========*/
.intro-container {
  width: 100%;
  display: flex; }

#bgvid {
  justify-self: center;
  width: 100%;
  height: 200px; }

.content {
  margin-top: 3em;
  display: grid;
  min-height: 300px;
  grid-template-columns: 100%;
  grid-template-rows: 800px 300px;
  grid-row-gap: 15px;
  background: #373276; }

.news {
  box-shadow: 0px 7px 10px black;
  border-radius: 5%;
  padding: 8px; }
  .news h2 {
    text-align: center;
    font-family: "Kaushan Script", cursive;
    text-shadow: 3px 3px 5px black;
    color: white;
    font-size: 3em;
    padding-bottom: 20px; }
  .news img {
    display: block;
    margin: auto;
    width: 200px; }

/*===========PROJECTS SECTION HERE====================*/
.resources h2,
.tools h2,
.equipment h2 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  text-shadow: 3px 3px 5px black;
  color: white;
  font-size: 3em;
  padding-bottom: 20px; }

.news,
.vacation,
.updates {
  font-family: "Rambla", sans-serif;
  color: white; }

.news,
.tools,
.equipment,
.resources,
.updates p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em; }

.content2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%; }

.updates {
  padding-bottom: 20px;
  color: white;
  flex-basis: 100%;
  background: #373276; }
  .updates img {
    float: right; }

.footer {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2.2em;
  padding-top: 3em;
  justify-content: center; }

.fa-facebook {
  color: #3b5998; }

.fa-instagram {
  color: #517fa8; }

.fa-youtube {
  color: #bb0000; }

.fa-linkedin {
  color: #030303; }

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-linkedin:hover,
.fa-at:hover {
  color: #d5d5d5; }

.footer a {
  font-size: 2rem;
  padding: 1rem; }

@media only screen and (min-width: 560px) {
  #header {
    padding-bottom: 0; }

  #brand-name {
    font-family: "Kaushan Script", cursive;
    font-weight: 700; }

  /*===== MAIN STARTS HERE ==========*/
  .intro-container {
    width: 50%;
    box-shadow: 3px 5px 15px black;
    display: flex;
    justify-content: space-around;
    background: #959595; }
    .intro-container img {
      min-width: 100%;
      height: 380px; }

  #bgvid {
    width: 100%;
    height: 200px; } }
/* end media query */
@media only screen and (min-width: 1140px) {
  /*------------------------------Main--------------------------------------*/ }
/* end media query */
