/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a {
  text-decoration: none; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a:visited,
a:hover {
  color: white;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*-----------COLORS--------------*/
/*--------FONT PROPERTIES -------*/
/*------ Kaushan+Script for Design |Raleway for paragraphs |Rambla:400,700 for headers----*/
/*-------------GUTTER AND SIZE PROPERTIES -------------*/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  background: black; }

/* ----------------------------GLOBAL---------------------------------------*/
li {
  list-style-type: none; }

a {
  color: white; }

a:visited,
a:hover {
  color: white;
  text-decoration: none;
  outline: none; }

button:visited,
button:hover,
button:active,
button:link,
button:focus {
  outline: none;
  text-decoration: none; }

/*------------- HEADER ----------------------------*/
#bgvid {
  position: fixed;
  top: 800;
  left: 50%;
  min-width: 100%;
  min-height: 60%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover; }

.container h1 {
  color: white; }

/*------------- NAVIGATION --------------------*/
.nav-links li {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 1.2em; }
  .nav-links li a:visited,
  .nav-links li a:hover {
    text-decoration: none; }

.nav a {
  color: white; }

.navbar-toggle,
.icon-bar {
  color: black; }

.navbar {
  background: transparent;
  width: 100%; }

.navbar-brand {
  color: white;
  font-family: "Kaushan Script", cursive;
  text-shadow: 5px 5px 5px black; }

.fa-caret-square-down {
  color: white;
  text-shadow: 5px 5px 5px black; }

/*===== MAIN STARTS HERE ==========*/
.content {
  width: 100%;
  margin-top: 3em;
  display: grid;
  min-height: 300px;
  grid-template-columns: 100%;
  grid-template-rows: 700px 300px;
  grid-row-gap: 15px; }

.news h2 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  text-shadow: 3px 3px 5px black;
  color: white;
  font-size: 3em;
  padding-bottom: 20px; }
.news p {
  background: rgba(0, 0, 0, 0.685);
  padding: 16px;
  border-radius: 10%;
  box-shadow: 5px 5px 10px black; }
.news img {
  display: block;
  margin: auto;
  width: 200px; }

/*===========PROJECTS SECTION HERE====================*/
.resources {
  background: #373276;
  padding: 15px;
  height: 400px;
  box-shadow: 5px 5px 10px black;
  border-radius: 5%; }

.tools {
  margin-top: 200px;
  background: url("http://afkdeveloper.com/images/main/tools-wallpaper.png");
  background-position: center;
  border-radius: 5%;
  box-shadow: 5px 5px 10px black; }
  .tools h2 {
    text-align: center;
    font-family: "Kaushan Script", cursive;
    text-shadow: 3px 3px 5px black;
    color: black;
    font-size: 4em;
    padding-bottom: 20px; }
  .tools p {
    background: rgba(0, 0, 0, 0.685);
    text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
    padding: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 3px black; }
  .tools li {
    color: white; }
  .tools ul {
    background: rgba(0, 0, 0, 0.685);
    padding: 16px;
    border-radius: 5%; }

.equipment {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.685);
  padding: 10px;
  border-radius: 5%;
  box-shadow: 5px 5px 10px black; }

.resources h2,
.equipment h2,
.updates h2,
.footer h2 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  text-shadow: 3px 3px 5px black;
  color: white;
  font-size: 3em;
  padding-bottom: 20px; }

.tools a,
.resources a {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: 700; }

.tools a:hover,
.resources a:hover {
  text-decoration: none;
  color: #7301a8;
  font-weight: 700; }

.part {
  font-weight: 700;
  color: #7301a8; }

.news,
.equipment,
.resources,
.updates p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em; }
  .news li,
  .equipment li,
  .resources li,
  .updates p li {
    color: #999999; }
  .news ul,
  .equipment ul,
  .resources ul,
  .updates p ul {
    background: rgba(0, 0, 0, 0.685);
    padding: 16px; }

.content2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%; }

.updates {
  margin-top: 200px;
  padding-bottom: 20px;
  color: white;
  flex-basis: 100%;
  padding: 10px; }
  .updates img {
    margin: auto;
    display: block;
    box-shadow: 5px 5px 10px black; }
  .updates p {
    padding: 10px;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.685);
    box-shadow: 5px 5px 10px black; }

.footer {
  background: rgba(128, 128, 128, 0.616);
  margin-top: 200px;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.2em;
  padding-top: 3em;
  justify-content: center; }
  .footer ul {
    margin-top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .footer li {
    float: left; }
  .footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none; }
  .footer p {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: white;
    text-shadow: 2px 2px 3px black; }
  .footer a {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 5px black; }
  .footer a:hover {
    color: #d5d5d5;
    text-decoration: none; }

.fa-facebook {
  font-size: 50px;
  color: #3b5998; }

.fa-instagram {
  font-size: 50px;
  color: #517fa8; }

.fa-youtube {
  font-size: 50px;
  color: #bb0000; }

.fa-linkedin {
  font-size: 50px;
  color: #030303; }

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-linkedin:hover,
.fa-at:hover {
  color: #d5d5d5; }

.footer a {
  font-size: 2rem;
  padding: 1rem; }

@media only screen and (min-width: 560px) {
  #header {
    padding-bottom: 0; }

  #brand-name {
    font-family: "Kaushan Script", cursive;
    font-weight: 700; }

  /*===== MAIN STARTS HERE ==========*/
  .intro-container {
    background: transparent !important;
    overflow: hidden; }

  #bgvid {
    position: fixed;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 25%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; }

  .container h1 {
    color: white; } }
/* end media query */
@media only screen and (min-width: 1140px) {
  /*------------------------------Main--------------------------------------*/ }
/* end media query */
