/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----------------------------GLOBAL---------------------------------------*/

#wrapper {
  background: $bgColor;
  border-top: 4px solid black;
}

li {
  color: $secondaryColor;
  list-style-type: none;
}

a:visited,
a:hover {
  color: white;
  text-decoration: none;
  outline: none;
}

button:visited,
button:hover,
button:active,
button:link,
button:focus {
  outline: none;
  text-decoration: none;
}

// Come back to add effects to hover
/*------------- HEADER ----------------------------*/

#header {
  padding-bottom: 0;
}

#brand-name {
  font-family: $scriptFont;
  font-weight: $boldWeight;
}

/*------------- NAVIGATION --------------------*/

.nav-links li {
  font-size: 20px;
  font-family: $pFont;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 1.2em;
  a:visited,
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-toggler:visited,
.navbar-toggler:hover,
.navbar-toggler {
  color: white;
  background: $bgColor;
  position: relative;
  width: 50px;
  margin: 0 auto;
  display: block;
  border: none;
}

/*===== MAIN STARTS HERE ==========*/
// Intro begins here
.intro-container {
  width: 100%;
  display: flex;
  
}
#bgvid {
  justify-self: center;
  width: 100%;
  height: 200px;
}

// First snippet of news grids
.content {
  margin-top: 3em;
  display: grid;
  min-height: 300px;
  grid-template-columns: 100%;
  grid-template-rows: 800px 300px;
  grid-row-gap: 15px;
  background: $bgColor;
}
.news {
 box-shadow: 0px 7px 10px black;
 border-radius: 5%;
 padding: 8px;
 
 h2 {
   text-align: center;
   font-family: $scriptFont;
   text-shadow: 3px 3px 5px black;
   color: white;
   font-size: 3em;
   padding-bottom: 20px;
 }
 
 img {
   display: block;
   margin: auto;
   width: 200px;
 }
}
/*===========PROJECTS SECTION HERE====================*/
.resources,
.tools,
.equipment {

  h2 {
    text-align: center;
   font-family: $scriptFont;
   text-shadow: 3px 3px 5px black;
   color: white;
   font-size: 3em;
   padding-bottom: 20px;
  }
}

.news,
.vacation,
.updates {
  font-family: $headFont;
  color: white;
}

.news,
.tools,
.equipment,
.resources,
.updates p {
  color: white;
  font-family: $pFont;
  font-size: 1.2em;
}

// Construction piece goes here
.content2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.updates {
  padding-bottom: 20px;
  color: white;
  flex-basis: 100%;
  background: $bgColor;
  img {
    float: right;
  }
}

// Footer starts here
.footer {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2.2em;
  padding-top: 3em;
  justify-content: center;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #517fa8;
}

.fa-youtube {
  color: #bb0000;
}

.fa-linkedin {
  color: #030303;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-linkedin:hover,
.fa-at:hover {
  color: #d5d5d5;
}

.footer a {
  font-size: 2rem;
  padding: 1rem;
}