/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ----------------------------GLOBAL---------------------------------------*/
#wrapper {
  background: $bgColor;
  border-top: 4px solid black;
}
li {
  color: $secondaryColor;
  list-style-type: none;
}
a:visited,
a:hover {
    color: white;
    text-decoration: none;
    outline: none;
}
button:visited,
button:hover,
button:active,
button:link,
button:focus {
  outline: none;
  text-decoration: none;
}

// Come back to add effects to hover

/*------------- HEADER ----------------------------*/
#header {
  padding-bottom: 0;
}
#brand-name {
  font-family: $scriptFont;
  font-weight: $boldWeight;
}

/*------------- NAVIGATION --------------------*/
.nav-links li {
  font-size: 20px;
  font-family: $pFont;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 1.2em;
  a:visited,
  a:hover {
    color: white;
    text-decoration: none;
  }
}
.navbar-toggler:visited,
.navbar-toggler:hover, 
.navbar-toggler {
  color: white;
  background: $bgColor;
  position: relative;
  width: 50px;
  margin: 0 auto;
  display: block;
  border: none;
}
/*===== MAIN STARTS HERE ==========*/
#news li {
  background: #2C004F;
  color: white;
  border: .5px solid gray;
}
/*------ IMAGE SLIDER -------*/
.flexslider {
  background: none;
}
.slides {
  background: none;
  border: none;
}
/*============MAIN CONTENT===========*/
.content {
  margin: $gutter;
  h3 {
    font-size: 2em;
    color: $secondaryColor;
  }
  li {
    color: white;
    font-size: 1.3em;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 0px 4px 8px #888888;
    margin-bottom: 20px;
  }
}  
