#header {
    padding-bottom: 0;
  }
  
  #brand-name {
    font-family: $scriptFont;
    font-weight: $boldWeight;
  }
  
/*===== MAIN STARTS HERE ==========*/

// Intro begins here
.intro-container {
  background: transparent!important;
  overflow: hidden;
}
#bgvid {
  position: fixed;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 25%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.container h1 {
  color: white;
}
