/*-----------COLORS--------------*/
$bgColor: #373276;
$primaryColor:   #1E1959;
$secondaryColor: #595494;
$fontColor: #fff;
$h1-color: #827FB2;



/*--------FONT PROPERTIES -------*/
/*------ Kaushan+Script for Design |Raleway for paragraphs |Rambla:400,700 for headers----*/
$headFont: 'Rambla', sans-serif;
$pFont: 'Raleway', sans-serif;
$scriptFont: 'Kaushan Script', cursive;
$normalWeight: 300;
$boldWeight: 700;



/*-------------GUTTER AND SIZE PROPERTIES -------------*/
$gutter: 2%;
$gutterdbl: (2 * $gutter);
